.add-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}


.form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(37, 100, 131);
  padding: 10%;
  border-radius: 20px;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 250px;
}

.creditCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 250px;
  padding: 25px;
  border-radius: 15px;
  color: white;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.input-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 15px;

}

.input {
    border-radius: 15px;
    border: none;
    padding: 5px;
    
}

.number {
  display: flex;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 45px;
}

.info {
  display: flex;
  justify-content: space-between;

  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
}

.label {
  font-size: 14px;
}
.expiryContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    
}

.expiry-abel {
    font-weight: 200;
    font-size: 14px;
}


.expiry-fields{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.expiry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-holder-name {
  text-transform: uppercase;
}

.card-holder-label {
  font-size: 11px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-size: 20px;
}
.ccv {
    margin-top: 5%;
}

.select {
    margin-top: 10%;
}

.submitBtn {
    margin-top: 5%;
    border: none;
    background-color: rgb(11, 200, 137);
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    border-radius: 10px;

}

.modalBtn {
  padding: 2px 6px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 14, 14);
  border-radius: 20px;
  
}

.modalBtn:hover {
  
  background-color: rgb(237, 14, 14);
  color: rgb(255, 255, 255);
  transition: ease 0.3s;
  

}