* {
  list-style: none;
}

.active {
  border: 10px solid aqua;
  border-radius: 25px;
  background-color: aqua;
}

.inactive {
  border: none;
}
.card-holder-name {
  text-transform: uppercase;
}

.walletCardsList {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.creditCard-wallet {
  margin: 30px;
}

.card-holder-label {
  font-size: 11px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-size: 20px;
}

.deleteBtn {
  padding: 2px 15px;
  border: none;
  background-color: crimson;
  color: white;
  border-radius: 20px;

}
.deleteBtn:hover {
  
  background-color: rgb(172, 15, 46);
  

}